
/* #region Debug */

.debug header{
    /* width: 100%;
    background-color: red; */
}

.debug section{
    background-color: aqua;
    height: 600px;
}

.debug section .container{
    background-color: rgb(152, 152, 232);
    height: 100%;
    border: 2px solid brown;
    align-items: center;
}

.debug .row{
    background-color: orange;
    width: 100%;
    height: 500px;
    padding: 1rem;
}

.debug .col-4,
.debug .col-6,
.debug .col-8{
    background-color: blue;
    border: 2px solid brown;
}

.debug .card{
    background-color: blue;
    border: 2px solid brown;
}

.debug .container-sm{
    background-color: blueviolet;
    height: 600px;
}

.debug footer{
    background-color: greenyellow;
    height: 100px;
}

/* #endregion Debug */



/* #region Utility */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.text-align-center{
    text-align: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.text-white{
    color: var(--white);
}


/* #endregion Utility */



/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary: rgb(151, 146, 228);
    --blue: rgb(0, 132, 253);
    --sky: rgb(181, 221, 255);
    --dark: rgb(51, 51, 51);
    --white: rgb(255, 255, 255);
    --gray: rgb(88, 107, 124);
}

.container{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 600px;
    margin: 0 auto;
}

/* .row{
    margin: 0 -1rem;
} */

.btn{
    background-color: transparent;
    border: none;
    padding: 0.3rem 0.75rem;
    text-decoration: none;
    border-radius: 1rem;
}

[class^='col-']{
    padding: 1rem;
    border-radius: 1rem;
}

.col-4{
    width: calc((100% / 12) * 4 - 1rem);
}

.col-6{
    width: calc((100% / 12) * 6);
}

.col-8{
    width: calc((100% / 12) * 8 - 1rem);
}

.col-12{
    width: 100%;
}

section.planning, section.benefits{
    background-color: var(--primary);
}

/* #endregion Common */



/* #region Header */

header{
    background-color: var(--blue);
    color: var(--white);
}

header .container{
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.logo img{
    width: 70px;
}

.mobile{
    margin-right: 1.5rem;
    font-size: 20px;
}

.menu .desktop ul{
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.menu .desktop{
    display: none;
    align-items: center;

    & a{
        color: var(--white);
        text-decoration: none;
        font-size: 15px;
    }
}

.btn-light{
    background-color: var(--white);
    color: var(--dark);
}
/* #endregion Header */


/* #region Main */


/* #region demo */

.demo img{
    width: 200px;
}

.demo [class^="col-"]{
    background-color: var(--sky);
    margin: 0.5rem;
}

.demo .container{
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.demo-text h3{
    color: var(--blue);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 700;
}

.demo-text p{
    font-size: 14px;
    line-height: 26px;
    color: var(--gray);
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.btn-blue{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.6rem 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.demo-img{
    align-items: flex-end;
}

.demo .col-8{
    padding-bottom: 0;
}

.demo-img img{
    text-align: center;
    width: 200px;
    padding-top: 2rem;
}

.demo-text>i{
    font-size: 60px;
    color: var(--blue);
    padding-top: 0.5rem;
}

/* #endregion Demo */

/* #region planning */

.planning img{
    width: 100%;
}

.planning .card{
    background-color: var(--white);
    padding: 2rem;
    border-radius: 2rem;
}


/* #endregion Planning */

/* #region Testimonials */

.testimonials{
    padding-bottom: 4rem;
}

.testimonials-intro{
    padding: 3rem 0 2rem;
    text-align: center;
}

.testimonials h2{
    font-size: 2.25rem;
    color: var(--primary);
    padding: 2rem;
}

.testimonials .testimonials-intro p{
    line-height: 2rem;
}

.testimonials .card{
    background-color: var(--primary);
    margin: 1.5rem 0;
    border-radius: 2rem;
    align-items: center;
    padding: 1rem;
    color: var(--white);
}

.testimonials .avatar{
    width: 150px;
    aspect-ratio: 1;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: cover;
    margin: 0.75rem 0 1.75rem;
}

.testimonials .text{
    padding: 1rem;
    line-height: 2rem;
}

.testimonials .name{
    padding-top: 1rem;
    font-weight: 600;
}

/* #endregion Testimonials */

/* #region Benefits */

.benefits .container{
    flex-direction: column;
    padding: 3rem 0;
}

.benefits .title{
    text-align: center;
    color: var(--white);
    font-size: 2.25rem;
    padding-bottom: 3rem;
}

.benefits .card{
    background-color: var(--white);
    border-radius: 1rem;
    padding: 1.5rem;
}

.benefits .card h3{
    font-size: 3.5rem;
    color: var(--primary);
    padding-bottom: 0.5rem;
}

.benefits .card h4{
    color: var(--primary);
    font-size: 20px;
}

.benefits .card p{
    color: var(--gray);
    font-size: 13px;
    line-height: 1.5rem;
    padding: 1.5rem 0;
}

.benefits .btn-purple{
    background-color: var(--primary);
    color: var(--white);
    padding: 0.5rem 2.5rem;
    letter-spacing: 2px;
}

/* #endregion Benefits */

/* #region About-Us */

.about-us{
    padding: 3rem 1rem 5rem;
}

.about-us h2{
    font-size: 3rem;
    font-weight: 800;
    color: var(--primary);
    padding-bottom: 3rem;
}

.about-us img{
    width: 200px;
    border-radius: 50%;
}

.about-us .col-8 p{
    line-height: 2rem;
    padding-bottom: 3rem;
}

.about-us .text-img{
    font-size: 20px;
    color: var(--primary);
    padding-right: 5rem;
    padding-top: 1rem;
    font-weight: 600;line-height: 2rem;
}

.btn-about-us{
    background-color: var(--primary);
    color: var(--white);
    margin-top: 2rem;
}

/* #endregion About-Us */



/* #endregion Main */


/* Media Query */

@media screen and (max-width: 480px){
    header ul li{
        display: none;
    }

    .container{
        width: 100%;
        padding: 1rem
    }

    .container-sm{
        width: 100%;
    }

    .logo{
        margin-left: 1.5rem;
    }

    .demo-img img{
        margin: auto;
    }

    .testimonials{
        padding: 1rem;
        text-align: center;
    }

    .testimonials .testimonials-intro h2{
        font-size: 1.75rem;
    }

    .testimonials .card{
        flex-direction: column;
    }

    .benefits .title{
        font-size: 1.5rem;
        padding: 0 1rem 1.5rem;
    }

    [class^="col-"]{
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    

    .container{
        width: 100%;
        padding: 1rem;
    }

    .container-sm{
        max-width: 600px;
    }
    
    header ul li{
        display: none;
    }

    .logo{
        margin-left: 1.5rem;
    }

    .planning .col-6{
        width: 100%;
    }

    .benefits .col-4{
        width: 50%;
    }

    .benefits .title{
        font-size: 2rem;
    }

    .about-us .text-img{
        padding-right: 0;
    }

}

@media screen and (min-width: 769px){
    .container{
        min-width: 753px;
        max-width: 1140px;
    }

    .menu .desktop{
        display: block;
    }

    .menu .mobile{
        display: none;
    }

    .demo .col-8{
        display: flex;
    }
}