
/* #region Debug */

.debug header{
    /* width: 100%;
    background-color: red; */
}

.debug section{
    background-color: aqua;
    height: 600px;
}

.debug section .container{
    background-color: rgb(152, 152, 232);
    height: 100%;
    border: 2px solid brown;
    align-items: center;
}

.debug .row{
    background-color: orange;
    width: 100%;
    height: 500px;
    padding: 1rem;
}

.debug .col-4,
.debug .col-6,
.debug .col-8{
    background-color: blue;
    border: 2px solid brown;
}

.debug .card{
    background-color: blue;
    border: 2px solid brown;
}

.debug .container-sm{
    background-color: blueviolet;
    height: 600px;
}

.debug footer{
    background-color: greenyellow;
    height: 100px;
}

/* #endregion Debug */



/* #region Utility */

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.text-align-center{
    text-align: center;
}

.relative{
    position: relative;
}


/* #endregion Utility */



/* #region Common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto', sans-serif;
}

:root{
    --primary: rgb(151, 146, 228);
    --blue: rgb(0, 132, 253);
    --sky: rgb(181, 221, 255);
    --dark: rgb(51, 51, 51);
    --white: rgb(255, 255, 255);
    --gray: rgb(88, 107, 124);
}

.container{
    width: 60%;
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm{
    max-width: 600px;
    margin: 0 auto;
}

/* .row{
    margin: 0 -1rem;
} */

.btn{
    background-color: transparent;
    border: none;
    padding: 0.3rem 0.75rem;
    text-decoration: none;
    border-radius: 1rem;
}

[class^='col-']{
    padding: 1rem;
    border-radius: 1rem;
}

.col-4{
    width: calc((100% / 12) * 4 - 1rem);
}

.col-6{
    width: calc((100% / 12) * 6);
}

.col-8{
    width: calc((100% / 12) * 8 - 1rem);
}

.col-12{
    width: 100%;
}

/* #endregion Common */



/* #region Header */

header{
    background-color: var(--blue);
    color: var(--white);
}

header .container{
    justify-content: space-between;
    padding: 0.5rem 0;
    align-items: center;
}

.logo img{
    width: 70px;
}

.mobile{
    margin-right: 1.5rem;
    font-size: 20px;
}

.menu .desktop ul{
    list-style: none;
    gap: 1rem;
    align-items: center;
}

.menu .desktop{
    display: none;
    align-items: center;

    & a{
        color: var(--white);
        text-decoration: none;
        font-size: 15px;
    }
}

.btn-light{
    background-color: var(--white);
    color: var(--dark);
}
/* #endregion Header */


/* #region Main */


/* #region demo */
.demo img{
    width: 200px;
}

.demo [class^="col-"]{
    background-color: var(--sky);
    margin: 0.5rem;
}

.demo .container{
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.demo-text h3{
    color: var(--blue);
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 700;
}

.demo-text p{
    font-size: 14px;
    line-height: 26px;
    color: var(--gray);
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.btn-blue{
    background-color: var(--blue);
    color: var(--white);
    padding: 0.6rem 2.5rem;
    letter-spacing: 2px;
    font-weight: 700;
}

.demo-img img{
    margin-bottom: -0.5rem;
    top: 16px;
    text-align: center;
    margin: auto;
    width: 200px;
}

.demo-text>i{
    font-size: 60px;
    color: var(--blue);
    padding-top: 0.5rem;
}




/* #endregion Demo */

.testimonials .card{
    min-height: 150px;
    background-color: var(--primary);
    margin: 1rem 0;
    border-radius: 2rem;
    align-items: center;
    padding: 1rem;
}

.testimonials .avatar{
    width: 100px;
    aspect-ratio: 1;
    background-color: red;
    border-radius: 50%;
    flex-shrink: 0;
}

.testimonials .text{
    padding: 1rem;
}


/* #endregion Main */


/* Media Query */

@media screen and (max-width: 480px){
    header ul li{
        display: none;
    }

    .container{
        width: 100%;
        padding: 0.5rem
    }

    .container-sm{
        width: 100%;
    }

    .logo{
        margin-left: 1.5rem;
    }

    [class^="col-"]{
        width: 100%;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px){
    

    .container{
        width: 100%;
        padding: 0.5rem;
    }

    .container-sm{
        max-width: 600px;
    }
    
    header ul li{
        display: none;
    }

    .logo{
        margin-left: 1.5rem;
    }

    .planning .col-6{
        width: 100%;
    }

    .benefits .col-4{
        width: 50%;
    }
}

@media screen and (min-width: 769px){
    .container{
        min-width: 753px;
        max-width: 1140px;
    }

    .menu .desktop{
        display: block;
    }

    .menu .mobile{
        display: none;
    }

    .demo .col-8{
        display: flex;
    }
}